body{
    background-color: rgb(206, 58, 58);
    display: grid;
    justify-items: center;
   
}

#contenedor-calculadora{
    background-color: rgb(28, 29, 29);
    width: 120px;
    height: 90px;
    
}
#contenedor-calculadora > input{
    width: 98%;
    background-color: rgb(139, 142, 145);
    border:1px solid rgb(11, 14, 13);
    padding: 0px;
}
#contenedor-opciones{
    background-color: rgb(189, 194, 197);
    display: grid;
    justify-items: center;
    padding: 10px;
    border:1px solid rgb(11, 14, 13);
    
}
.fila> button{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border:1px solid rgb(27, 27, 26);

}
.operadores{
    width: 30px;
    height: 30px;
    background-color: rgb(104, 141, 141);
}
.operador-especial{
    width: 80px;
    height: 80px;
    background-color: rgb(223, 16, 16);

}
.borrados{
    background-color: rgb(247, 99, 99);

}